

.container {
  box-sizing: border-box;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 50px;
  top: 50%;
  transform: translate(0, 30%);
  display: flex;
  flex-direction: column;
}

.operation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

img {
  height: 56px;
  width: auto;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

.MuiInputBase-input {
  text-align: center;
}
